header {
    z-index: 15;
    position: absolute;
    height: 6.75vw;
    top: 0%;
    left: 0%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    font-family: 'Wix Madefor Display', sans-serif;
}
.headerhead {
    background-color: transparent;
    height: 40%;
    display: flex;
    width: 100%;
}
.headerhead .headergauche {
    margin-left: 0%;
}
.headerfoot {
    background-color: white;
    height: 60%;
    display: flex;
    box-shadow: 0px 1px 6px 1px rgb(206, 206, 206);
}
.headergauche {
    display: flex;
    height: 100%;
    align-items: center;
    width: fit-content;
    margin-left: 2.5vw;
}
.headerlogoimg {
    height: 2vw;
}
.headerreseauxplace {
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: rgba(136, 133, 133, 0.363);
    height: calc(6.75vw * 0.4);
    width: calc(6.75vw * 0.42); /*calcul pour carré*/
    margin-right: 0.8vw;
}
.headerreseauximg {
    height: 1vw;
}
.headersearchicon {
    height: 1.25vw;
    margin-right: 2vw;
}
.headernewsletter {
    color: white;
    font-weight: 600;
    font-size: .875rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: max-content;
}
.headerinputnewsletter {
    margin-left: 0.8vw;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.headerinputtext {
    height: 50%;
    background-color: rgba(61, 61, 61, 0.486);
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 0.5vw;
    color: white;
    font-size: 0.75vw;
    font-weight: 600;
}
.headerinputnewsletter button {
    height: 86.7%;
    width: 6vw;
    border: none;
    background-color: #007c74;
    color: white;
    font-weight: 600;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.headerlogoplace {
    display: flex;
}
.headerlogo {
    height: 2.6vw;
}
.headerlinks {
    margin-left: 1.5vw;
    font-size: 0.8vw;
    font-weight: 600;
    display: flex;
}
.headerlink {
    margin-right: 1.5vw;
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.headerlink a {
    text-decoration: none;
    color: black;
}
.headerlink a:hover {
    color: #007c74;
}
.headerdroite {
    width: 100%;
    display: flex;
    text-align: right;
    justify-content: right;
    align-items: center;
    height: 100%;
}
.headerdroiteelement {
    margin-right: 1vw;
    height: 100%;
    display: flex;
    text-align: right;
    justify-content: right;
    align-items: center;
}
.headertoprightlink {
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 0.7vw;
}
.headertoprightlink:hover {
    color: #007c74;
}
.headerlangueflag {
    height: 30%;
    border: 1px white solid;
    margin-left: 2vw;
}

.headerlink #headeractu{
 color: rgb(255, 98, 98);
}
.headerlink #headerpassport {
    color: #007c74;
}
.headerlink img {
    margin-left: 3%;
    height: 0.8vw;
}

#headerphone {
    display: none;

    height: 24vw;
    width: 100vw;
    background-color: white;
    position: absolute;
    top: 0%;
    left: 0%;
}
.burgermenu {
    height: 18vw;
    padding: 3vw;
}
#headerphone {
    display: none;
}
.navbar {
    display: none;
}


@media (max-width:600px) {
    #header {
        display: none;
    }
    #headerphone {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .logoheader {
        height: 18vw;
    }
    .headersearchicon {
        height: 9vw;
        padding: 3vw;
    }

    .navbar {
        top: 0%;
        left: 0%;
        width: 100vw;
        background-color: #050505f5;
        height: 100vh;
        z-index: 99900;
        position: fixed;
        display: none;
        color: white;
    }

    .navbar:click {

    }
    .navbaricon {
        position: absolute;
        top: 5vw;
        right: 5vw;
        height: 15vw;
        width: 15vw;
    }
    .navbarlinks {
        margin-top: 25vw;
        width: 100vw;
        display: flex;
        align-items: center;
        text-align: center;
        flex-direction: column;
    }
    .navbarmain a {
        color: white;
        text-decoration: none;
        font-size: 8vw;
        line-height: 15vw;
        font-weight: 200;
    }
    .navbartrait {
        width: 90vw;
        margin-left: 5vw;
        height: 0.5vw;
        background-color: white;
    }
    .navbarlinkfin {
        font-weight: 600;
        margin-top: 4vw;
        padding-bottom: 4vw;
        padding-left: 10vw;
    }
    .navbarnews {
        font-size: 4vw;
        width: 100vw;
        align-items: center;
        text-align: center;
        justify-content: center;
        display: flex;
    }
}

.material-symbols-outlined {
    font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 4;
  color: #007c74;
}

