*{
    background-color: aliceblue;
}
.grid-desc{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
h2.title-desc {
    font-family: Arial, Helvetica, sans-serif;
    grid-area: 1 / 2 / 2 / 3;
}
div.text-desc{
    font-family: 'Roboto', sans-serif;
    grid-area: 2 / 2 / 3 / 3;
}
