@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800;900&display=swap%");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap%");

@font-face {
  font-family: "Frutiger_bold";
  src: url("font/Frutiger_bold.woff") format("woff");
}
@font-face {
  font-family: "Frutiger";
  src: url("font/Frutiger.woff") format("woff");
}

.hautfooter {
  padding-left: 30px;
  padding-right: 30px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  margin-bottom: 30px;
}

.hautfooter .logo {
  display: inline-block;
}

.réseauxsociaux {
  position: absolute;
  right: 0;
  top: 17px;
}

.réseauxsociaux {
  display: flex;
  justify-content: space-between;
  flex: 0.07;
  margin: 0 8% 0 0;
}

.logogauche {
  height: 12vh;
}
.instagram,
.facebook {
  height: 4vh;
}
.youtubefooter {
  height: 4vh;
}
.hautfooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.qsnfooter {
  width: 40%;
  margin: 0 0 0 3%;
}

a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 80%;
}
p {
  margin-right: -13%;
}

.bouton_esp {
  background-color: white;
  margin-right: 1%;
  margin-left: 13%;
  border: none;
  padding: 0.8% 2.4%;
  border-radius: 6%;
  color: green;
  text-transform: uppercase;
  border-radius: 5%;
  border: none;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

.bouton_nouscontacter {
  background-color: #007c74;
  padding: 0.8% 4.5%;
  margin-left: 7%;
  border-radius: 5%;
  color: white;
  text-transform: uppercase;
  border-radius: 5%;
  border: none;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}
.sp {
  color: green;
}
.ns {
  color: white;
}
.quisommesnous {
  display: flex;
  align-items: center;
}

.hauthautfooter {
  background-image: url(/footer/qui-sommes-nous.jpg);
  background-size: cover;
  padding: 5%;
}

ul {
  list-style-type: none;
  margin-left: 0;
}

.uive,
.luv,
.vo,
.c,
.sggp {
  font-size: 100%;
}

.menufooter {
  display: flex;
  justify-content: space-between;
}
.menucolonne1 {
  margin-left: 4.5%;
}

.menucolonne2 {
  margin-left: 4%;
}

.menucolonne3 {
  margin-right: 3%;
  margin-left: 10%;
}
.fleche {
  margin-right: 6%;
  margin-top: 1%;
}
.fleche2 {
  margin-left: 60px;
}
li a {
  color: black;
}

span {
  font-weight: bold;
  font-family: 'Reem Kufi Fun', sans-serif;
}
.marquevélofooter {
  display: flex;
  justify-content: space-around;
  padding-bottom: 1%;
  padding-top: 3%;
  margin-left: -4%;
  background-color: #f4f4f4;
}

.logovert {
  width: 50%;
  margin-left: 50%;
  margin-right: 10%;
}
.logov {
  margin-right: -2%;
  margin-left: 8%;
}
.textemarque {
  margin-left: 4%;
  width: 180%;
}

.pmarquevélo {
  margin-right: 10%;
  font-family: 'Wix Madefor Display', sans-serif;
color: #4a4747;
}

.bouton_m_dav {
  background-color: #231f20;
  border-color: #231f20;
  border-radius: 5%;
  margin-right: 6%;
  width: 80%;
  margin-bottom: 7.81%;
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}
.bouton_m_deveniraccueilvélo {
  color: white;
}

.bouton_m_esp {
  background-color: white;
  border-color: #231f20;
  border-radius: 5%;
  border-color: black;
  border: solid;
  margin-right: 3%;
  width: 80%;
  margin-bottom: 7.81%;
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

.bouton_m_ensavoirplus {
  color: black;
}

footer .couverture-menu-footer {
  position: relative;
  background: #231f20;
  padding-bottom: 0.78%;
}

footer .couverture-menu-footer nav {
  height: 300%;
  line-height: 300%;
}

footer .couverture-menu-footer nav ul {
  margin: 0;
  padding: 0;
}

footer .couverture-menu-footer nav ul li {
  display: inline-block;
  margin-right: 10%;
  margin: 0;
  margin-right: 0%;
  padding: 0;
  list-style: none;
  color: #fff;
  font-family: "Mukta Mahee", sans-serif;
  font-weight: 500;
  font-size: 0.8125rem;
}
.prs {
  margin: 5%;
}

footer .couverture-menu-footer .realisation {
  position: absolute;
  top: 50%;
  right: 1.5%;
  transform: translate(0, -50%);
}
#bloc-pieddepagegauche {
  justify-content: right;
  color: white;
}
#bloc-pieddepagegauche li a {
  color: white;
}

.simplon,
.frvelotourisme {
  width: 5.46vw;
}
.frvelotourisme {
  margin-right: -1%;
}
.prs {
  margin-left: 90px;
}

.QSNText{
  font-family: 'Wix Madefor Display', sans-serif;

}
.QSNTitre{
  font-family: 'Urbanist', sans-serif;

}
