main {
    z-index: 10;
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100vw;
}
.accueil {
    width: 100%;
    height: 96vh;
    background-image: url(img/indexbackground.webp);
    display: flex;
    align-items: end;
    text-align: center;
    justify-content: center;
}
.leurovelo {
    color: white;
    padding-bottom: 1.5vw;
}
.leurovetitre {
    font-size: 4vw;
    font-weight: 700;
    font-family: 'Reem Kufi Fun', sans-serif;
}
.leurovetext {
    font-size: 2.3vw;
    font-weight: 300;
    font-family: 'Urbanist', sans-serif;
}
.velodepartarivee {
    display: flex;
    column-gap: 3.333%;
    padding-top: 3vw;
}
.veloform {
    background-color: white;
    display: flex;
    height: 2.5vw;
    border-radius: 5px;
}
.veloform input {
    border: none;
    border-radius: 5px;
    font-size: 0.75vw;
    font-weight: 600;
}
.veloform input:focus {
    outline:none;
} 
.velobefore {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5vw;
    width: 2.5vw;
}
.velocircle {
    width: 10px;
    height: 10px;
    content: "";
    border: 2px solid green;
    border-radius: 100%;
}
.velocirclered {
    border: 2px solid red;
}
.velodepartarivee button {
    background-color: #007c74;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 0.7vw;
    font-weight: 700;
} 
.velodepartarivee > * {
    width: 33.333%;
}

/*Fin partis grande image
debut partis description*/

.description {
    margin-top: 3vw;
    width: 60%;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 3vw;
    height: fit-content;
}
.grandedescription {
    height: fit-content;
    display: flex;
}
.petitedescription {
    width: 50%;
}
.descriptiontitre {
    text-align: center;
    font-size: 2vw;
    font-family: 'Wix Madefor Display', sans-serif;
}
.descriptionlongue {
    margin-top: 2vw;
    line-height: 1.25vw;
    color: #525252;
    font-weight: 500;
    font-family: 'Wix Madefor Display', sans-serif;

}
.descrimg {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.descrformrectangle {
    height: fit-content;
    width: 57.5%;
    background-color: #007c74;
    margin-top: 3vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
}
.pedalez {
    margin-top: 3vw;
    font-size: 1.5vw;
    font-weight: 600;
    font-family: 'Reem Kufi Fun', sans-serif;
}
.descrform {
    width: 90%;
}
.descrform * {
    width: 100%;
    margin-top: 1vw;
    height: 2vw;
    color: black;
    font-size: 0.7vw;
    font-weight: 500;
    padding-left: 1vw;
    border: none;
    border-radius: 5px;
}
.descrform button {
    background-color: black;
    color: white;
    font-weight: 600;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 2.5vw;
}


.carte {
    background-image: url(img/Hauts-de-France.svg); /*placeholder*/
    width: 80%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-left: 10%;
}


.trouveaccueil {
    height: fit-content;
    margin-left: 17%;
    margin-right: 17%;
    padding-top: 10vw;
    font-family: 'Wix Madefor Display', sans-serif;
}

.trouvetitre {
    font-size: 1.85vw;
    display: flex;
}
.trouvetitre  img {
    width: 2vw;
    margin-right: 2vw;
    font-family: 'Reem Kufi Fun', sans-serif;

}
.trouvetxt {
    margin-top: 1vw;
    font-size: 0.65vw;
    font-family: 'Wix Madefor Display', sans-serif;
}
.trouvevelo {
    margin-top: 3%;
    display: grid;
    grid-template-columns: 9vw 9vw 9vw 9vw ;
    gap: 5%;
}
.trouveveloitem {
    height: 12vw;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: black;
    border-radius: 6px;
} 
.trouvetxtimg {
    position: absolute;
    color: white;
    font-size: 0.8vw;
    font-weight: 700;
    width: 9vw;
}
.trouveveloitem:hover > .trouvebackground{
    filter: blur(3px);
}
.nodeco {
    text-decoration: none;
}
.trouvebackground {
    opacity: 50%;
    top: 0%;
    left: 0%;
    height: 12vw;
    width: 9vw;
}
/* Debut temoignages */

.temoignage {
    height: 27vw;
    background-image: url(img/temoignage.jpg);
    margin-bottom: 3vw;
    background-repeat: no-repeat;
    padding: 5vw 2%;
}
.temoignagetitre {
    color: white;
    font-size: 2.5vw;
    margin-left: 20%;
    font-family: 'Urbanist', sans-serif;
}
.temoignagesoustitre {
    font-size: 1vw;
    font-family: 'Wix Madefor Display', sans-serif;
}
.temoignagebox {
    margin-top: 6%;
    display: flex;
    margin-left: -2.5vw;
}
.temoignageitem {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-left: 1vw;
    height: 13vw;
    width: 35vw;
    color: white;
    display: flex;
    align-items: end;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
    background-color: black;
}
.temoignageitemtitre {
    font-family: 'Wix Madefor Display', sans-serif;
    font-size: 1.25vw;
    font-weight: 600;
    width: 24vw;
    margin-left: 0.5vw;
}
.temoignageitemtext {
    font-family: 'Wix Madefor Display', sans-serif;
    width: 25vw;
}

.temoignagetous{
    font-family: 'Urbanist', sans-serif;
    position: absolute;
    margin-top: 2vw;
    margin-left: 20vw;
    background-color: transparent;
    border: white 2px solid;
    padding: 0.75% 0.25%;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 0.8vw;
    box-shadow: 2px 1px 10px rgb(77, 77, 77);
}
.temoignageabso {
    position: absolute;
    margin-bottom: 2vw;
    transition: 0.2s;
}
.temoignagebackground {
    height: 13vw;
    width: 100%;
    border-radius: 5px;
    transition: 0.2s;
}
.temoignageitem:hover > .temoignagebackground {
    filter: blur(6px);
    transition: 0.2s;
}
.temoignageitem:hover > .temoignageabso {
    margin-bottom: 5vw;
    transition: 0.2s;
}
.temoignagesfavoris {
    position: absolute;
    height: 2vw;
    margin-bottom: 10.5vw;
    margin-left: 6vw;
}

/*debut grid chaleur*/


.chaleur {
    width: 60vw;
    padding: 0% 20vw;
    padding-bottom: 20vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.chaleurtitre {
    font-family: 'Urbanist', sans-serif;
    display: flex;
    text-align: center;
    justify-content: center;
    width: 60vw;
    font-size: 2vw;
}
.chaleurtext {
    font-family: 'Wix Madefor Display', sans-serif;
    margin-top: 1vw;
    display: flex;
    text-align: center;
    justify-content: center;
    width: 60vw;
    font-size: 1vw;
    color: #464646;
}
.chaleurgrid {
    margin-top: 4vw;
    display: grid;
    grid-template-columns: 19vw 19vw 19vw ;
    gap: 2vw;
}
.griditem {
    height: 19vw;
    position: relative;
    box-shadow: 2px 1px 10px rgb(77, 77, 77);
}
.griditem img {
    height: 19vw;
    width: 19vw;
    transition: 0.2s;
}
.gridbackground {
    height: 19vw;
    width: 19vw;
    transition: 0.2s;
}
.griditemtitre {
    font-family: 'Wix Madefor Display', sans-serif;
    width: 17vw;
    padding: 0% 1vw;
    position: absolute;
    font-size: 1vw;
    margin-top: -6vw;
    color: white;
    font-weight: 600;
    transition: 0.2s;
}
.griditemtext {
    font-family: 'Wix Madefor Display', sans-serif;
    width: 17vw;
    position: absolute;
    padding: 0% 1vw;
    font-size: 0.80vw;
    margin-top: -3vw;
    color: white;
    font-weight: 500;
    transition: 0.2s;
}
.gridnoteplace {
    display:flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: -18.5vw;
}
.gridnote {
    background-color: #f59c00;
    padding: 0.4vw 0.5vw;
    width: fit-content;
    color: white;
    font-weight: 600;
    z-index: 15;
}

.griditem:hover > .gridbackground {
    filter: blur(6px);
    transition: 0.2s;
}
.griditem:hover .griditemtitre {
    margin-top: -9vw;
    transition: 0.2s;
}
.griditem:hover .griditemtext {
    margin-top: -6vw;
    transition: 0.2s;
}

.velodepartariveephone {
    display: none;
}
.cartephone {
    display: none;
}

object {
    height: fit-content;
    position: absolute;
    margin-top: -50vw;
    width: 100vw;
    z-index: 999;
}


@media (max-width:600px) {
    .accueil {
        height: 120vw;
        background-size: cover;
        background-repeat: no-repeat;
        align-items: center;
    }
    .leurovelo {
        padding-bottom: 0%;
    }
    .leurovetitre {
        font-size: 10vw;
    }
    .leurovetext {
        font-size: 8vw;
        padding: 0% 3vw;
    }
    .velodepartarivee {
        display: none;
    }
    .leurovelo {
        margin-top: 30vw;
    }
    .velodepartariveephone {
        display: block;
        text-decoration: none;
        color: white;
        background-color: #007c74;
        width: 60%;
        padding: 2.25vw 3vw;
        border-radius: 5px;
        font-weight: 600;
        font-size: 3.5vw;
        margin-left: 17.5%;
        margin-top: 28vw;
    }
    

    .description {
        width: 80%;
        padding: 0 10%;
    }
    .grandedescription {
        display: block;
    }
    .petitedescription {
        width: 100%;
    }
    .descriptiontitre {
        font-size: 9vw;
        font-weight: 100;
    }
    .descriptionlongue {
        text-align: center;
        line-height: 5vw;
    }
    .cartephone {
        margin-top: 10vw;
        display: flex;
        text-align: center;
        justify-content: center;
        width: 98%;
        background-color: #202020;
        color: white;
        font-weight: 600;
        border-radius: 5px;
        font-size: 3.5vw;
        padding: 3% 2%;
    }
    .descrformrectangle {
        width: 100%;
    }
    .pedalez {
        font-size: 7vw;
       
    }
    .descrform * {
        height: 15vw;
        margin-top: 5vw;
        font-size: 4.5vw;
        padding-left: 5vw;
        font-family: "Poppins", sans-serif;
    }
    .descrform button {
        padding-left: 0%;
        font-family: "Poppins", sans-serif;
    }



    .trouveaccueil {
        margin: 2%;
    }
    .trouvetitre {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        font-size: 6vw;
    }
    .trouvetitre img {
        width: 20vw
    }
    .trouvetxt {
        font-size: 3.5vw;
    }
    .trouvevelo {
        grid-template-columns: 100%;
    }
    .trouveveloitem {
        height: 30vw;
    }
    .trouvebackground {
        background-size: cover;
        background-repeat: no-repeat;
        width: 95vw;
        height: 30vw;
    }
    .trouvetxtimg {
        width: 80vw;
        font-size: 6vw;
    }


    .temoignage {
        margin-top: 60vw;
        background-image: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    .temoignagetitre {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: black;
        font-size: 10vw;
        margin-left: 0%;
        padding: 0% 4vw;
    }
    .temoignagetitre div {
        font-size: 5vw;
        margin-top: 7vw;
    }
    .temoignageitem {
        display: none;
        width: 90vw;
        height: 40vw;
        margin: 0 5vw;
    }
    .temoignageitem:first-child {
        display: flex;
    }
    .temoignagebackground {
        height: 40vw;
        width: 90vw;
    }
    .temoignageitemtext {
        display: none;
    }
    .temoignagebox {
        width: 100vw;
    }
    .temoignageitemtitre {
        width: 84%;
        font-size: 5vw;
        padding: 0 8%;
    }
    .temoignagesfavoris {
        display: none;
    }
    .temoignagetous {
        width: 55vw;
        margin-left: 0;
        margin-top: 110vw;
        height: 10vw;
        border: black solid 2px;
        color: black;
        font-size: 3.5vw;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
    }


    .chaleur {
        margin-top: 55vw;
        width: 90vw;
        padding: 0% 5vw;
    }
    .chaleurtitre {
        font-size: 6vw;
        word-break: break-all;
        width: 100%;
    }
    .chaleurtext {
        width: 100%;
        font-size: 4vw;
    }
    .chaleurgrid {
        grid-template-columns: 85vw;
        gap: 3%;
    }
    .griditem {
        height: 30vw;
    }
    .griditem img {
        width: 85vw;
        height: 30vw;
    }
    .gridnoteplace {
        margin-top: -30vw;
    }
    .griditemtitre {
        width: 83vw;
        padding: 1vw;
        margin-top: -15vw;
        font-size: 5vw;
    }
    .griditem:hover .griditemtitre {
        margin-top: -21vw;
        transition: 0.2s;
    }
    .griditemtext {
        display: none;
    }

    

}

.QSNText{
    font-family: 'Wix Madefor Display', sans-serif;
  
  }
  .QSNTitre{
    font-family: 'Urbanist', sans-serif;
  
  }
  