main {
    z-index: 10;
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100vw;
}
.accueil {
    width: 100%;
    height: 96vh;
    background-image: url(img/indexbackground.webp);
    display: flex;
    align-items: end;
    text-align: center;
    justify-content: center;
}
.leurovelo {
    color: white;
    padding-bottom: 1.5vw;
}
.leurovetitre {
    font-size: 5vw;
    font-weight: 700;
}
.leurovetext {
    font-size: 2vw;
    font-weight: 300;
}
.velodepartarivee {
    display: flex;
    column-gap: 3.333%;
    padding-top: 3vw;
}
.veloform {
    background-color: white;
    display: flex;
    height: 2.5vw;
    border-radius: 5px;
}
.veloform input {
    border: none;
    border-radius: 5px;
    font-size: 0.75vw;
    font-weight: 600;
}
.veloform input:focus {
    outline:none;
} 
.velobefore {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5vw;
    width: 2.5vw;
}
.velocircle {
    width: 10px;
    height: 10px;
    content: "";
    border: 2px solid green;
    border-radius: 100%;
}
.velocirclered {
    border: 2px solid red;
}
.velodepartarivee button {
    background-color: #007c74;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 0/7vw;
    font-weight: 700;
} 
.velodepartarivee > * {
    width: 33.333%;
}

/*Fin partis grande image
debut partis description*/

.description {
    margin-top: 3vw;
    width: 60%;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 3vw;
    height: fit-content;
}
.grandedescription {
    height: fit-content;
    display: flex;
}
.petitedescription {
    width: 50%;
}
.descriptiontitre {
    text-align: center;
    font-size: 2vw;
}
.descriptionlongue {
    margin-top: 2vw;
    line-height: 1.25vw;
    color: #525252;
    font-weight: 500;
}
.descrimg {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.descrformrectangle {
    height: fit-content;
    width: 57.5%;
    background-color: #007c74;
    margin-top: 3vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
}
.pedalez {
    margin-top: 3vw;
    font-size: 1.5vw;
    font-weight: 600;
}
.descrform {
    width: 90%;
}
.descrform * {
    width: 100%;
    margin-top: 1vw;
    height: 2vw;
    color: black;
    font-size: 0.7vw;
    font-weight: 500;
    padding-left: 1vw;
    border: none;
    border-radius: 5px;
}
.descrform button {
    background-color: black;
    color: white;
    font-weight: 600;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 2.5vw;
}




.carte {
    background-color: aquamarine; /*placeholder*/
    width: 50%;
}