object {
    height: 100%;
    width: 100%;
}
body, html {
    background: aqua;
    margin: 0%;
}
.headerhead {
    background-color: white;
    z-index: 30;
}
.headerhead * {
    color: black;
}
.headerinputtext {
    color: white;
}
main {
    
    margin-top: 6.75vw;
    height: calc(100vh - 6.75vw);
    display: flex;
    flex-direction: row;
}
.navigation {
    width: 40vw;
    height: calc(100vh - 6.75vw);
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}
.mainhead {
    width: 100%;
    background-color: white;
    color: #007c74;
    border-bottom: #007c74 3px solid;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 0.25vw 0;
    font-size: 0.75vw;
    font-weight: 700;
    height: 2.4vw;
}
.etapesicon {
    width: 2.5vw;
}
.planif {
    height: 6vw;
    background-color: #475995;
    width: 100%;
    color: white;
}
.planifcontent {
    width: auto;
    padding: 1vw;
    font-weight: 600;
}
.planifform {
    margin: 0.5vw 0;
    display: flex;
    justify-content: space-around;
}
.planifform * {
    width: 30%;
    height: 2.5vw;
    padding-left: 0.75vw;
    font-weight: 700;
    font-size: 0.75vw;
    box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.24);
}
.planifform button {
    background-color: transparent;
    border: 2px solid whitesmoke;
    border-radius: 4px;
    color: white;
    height: 2.30vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0%;
}
.download {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 0.5vw 0;
}
.download a {
    text-decoration: none;
    color: #007c74;
    font-weight: 600;
    font-size: 0.65vw;
}
.etapesgrid {
    display: grid;
    grid-template-columns: 100%;
    position: relative;
    gap: 1%;
}
.etapesgriditem {
    height: 10.5vw;
    color: black;
    display: flex;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.etapesgrid * {
    transition: 0.4s;
}
.etapesgriditem:hover {
    background-color: black;
}
.etapesgriditem:hover .etapestrajet, .etapesgriditem:hover .etapesdescription{
    color: white;
}
.etapesgriditem:hover .etapesimg {
    filter: blur(5px);
}
.etapeskilometre {
    position: absolute;
    background-color: rgb(226, 226, 226);
    color: black;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 1.75vw;
    width: 5vw;
    margin-top: 1vw;
    font-size: 0.75vw;
    font-weight: 500;
    z-index: 25;
}
.etapesimg {
    margin-top: 0.5vw;
    height: 10vw;
    width: 10vw;
    background-color: greenyellow;
}
.smallmargintop {
    margin-top: 0.5vw;
}
.etapesbandeau {
    width: 30vw;
    height: 1.5vw;
    display: flex;
    align-items: center;
    font-size: 0.75vw;
    font-weight: 600;
    justify-content: space-between;
}
.etapescat {
    height: 100%;
    width: 26.75vw;
    display: flex;
    align-items: center;
    color: white;
    padding-left: 1vw;
    background-color: #f59c00;
}
.etapesfavoris {
    height: 1.75vw;
    margin-right: 5px;
}
.difficulte {
    padding: 1vw 1.25vw;
    font-size: 0.66vw;
    font-weight: 500;
}
.etapestrajet {
    margin-left: 1vw;
    color: black;
    font-weight: 600;
    font-size: 1.25vw;
}
.etapesdescription {
    margin-left: 1vw;
    margin-top: 0.66vw;
    color: rgb(97, 97, 97);
    font-weight: 500;
}


.mapplace {
    background-color: aquamarine;
    width: 60vw;
    height: calc(100vh - 6.75vw);
}

.facile {
    color: #41e92b;
    display: flex;
    align-items: center;
}
.facile::after {
    display: inline-block;
    width: 6px;
    height: 6px;
    content: "";
    background-color: #41e92b;
    border: 3px solid #41e92b;
    border-radius: 100%;
    margin-left: 2%;
}
.moyen {
    color: #3498DB;
    display: flex;
    align-items: center;
}
.moyen::after {
    display: inline-block;
    width: 6px;
    height: 6px;
    content: "";
    background-color: #3498DB;
    border: 3px solid #3498DB;
    border-radius: 100%;
    margin-left: 2%;
}
.difficile {
    color: red;
    display: flex;
    align-items: center;
}
.difficile::after {
    display: inline-block;
    width: 6px;
    height: 6px;
    content: "";
    background-color: red;
    border: 3px solid red;
    border-radius: 100%;
    margin-left: 2%;
}
.category {
    width: fit-content;
    margin-right: 1%;
}
.category:after {
    content: ", ";
    width: fit-content;
}
.category:last-child::after {
    content: "";
}
.retourarrow {
    position: absolute;
    padding: 0%;
    left: 0%;
    margin-top: 0.5vw;
}
.arrow {
    height: 1vw;
    padding: 0.25vw;
}


@media (max-width:600px) {
    main {
        flex-direction: column;
        margin-top: 24vw;
        width: 100%;
        height: fit-content;
    }
    .navigation {
        width: 100vw;
        height: 50vh;
    }
    #map {
        width: 100%;
        height: calc(50vh - 24vw);
    }
    .mainhead {
        height: fit-content;
        font-size: 10vw;
    }
    .etapesicon {
        width: 14vw;
    }
    .planif {
        height: 43vw;
    }
    .planifform {
        font-size: 8vw;
        display: flex;
        flex-direction: column;
    }
    .planifform * {
        font-size: 4vw;
        width: 98%;
        height: 7vw;
        margin-bottom: 2vw;
    }
    .planifform button {
        height: 10vw;
    }
    .download a {
        font-size: 3vw;
    }
    .etapesgriditem {
        margin-bottom: 3vw;
        height: fit-content;
    }
    .etapesbandeau {
        font-size: 3vw;
        height: 15vw;
        width: 54vw;
        margin-left: 0.5vw;
        justify-content: space-around;
    }
    .etapescat {
        width: 100%;
    }
    .etapesfavoris {
        display: none;
    }
    .etapesimg {
        width: 45vw;
        height: 35vw;
    }
    .category {
        width: max-content;
        margin-right: 5%;
        height: 10vw;
        height: min-content;
    }
    .category:after {
        display: none;
    }
    .difficulte {
        font-size: 3vw;
    }
    .etapestrajet {
        font-size: 4vw;
    }
    .arrow {
        margin-top: 2vw;
        height: 5vw;
    }
}