main {
    margin-top: 0;
    height: 100%;
}
.navigation {
    width: 100%;
    height: 100%;
}
.retour {
    height: 7vw;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 1.9vw;
    font-weight: 700;
    line-height: 2.25vw;
    border-bottom: 1px solid rgb(206, 206, 206);
}
.longdiv {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.leurovelo5 {
    color: #f59c00;
    font-size: 1.65vw;
    font-family: 'Urbanist', sans-serif;
}
.arrow {
    height: 2.5vw;
    padding: 1vw;
    visibility: hidden;
}
.head {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 2% 0;
    color: #007c74;;
    font-size: 2vw;
    font-weight: 700;
    border-bottom: #007c74 3px solid;
    font-family: 'Wix Madefor Display', sans-serif;

}
.trajetcategory {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: white;
    padding: 0.45vw 0;
    padding-left: 1vw;
    background-color: #f59c00;
    font-weight: 600;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 2vw;
    font-family: "Poppins", sans-serif;
}
.info {
    width: 100%;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0.5vw 0;
}
.info * {
    width: 30vw;
}
.trajetimgplace {
    width: 100%;
    height: 45%;
    background-color: darkseagreen;
}
.trajetimg {
    height: 100%;
    width: 100%;
}
.kilo:after {
    content: "settings_ethernet";
    font-family: "Material Icons Outlined";
    font-size: 2.25vw;
    padding: 0 6px;
}
.info div {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-family: 'Urbanist', sans-serif;
}
.temps:after {
    content: "timer";
    font-family: "Material Icons Outlined";
    font-size: 2.25vw;
    margin-left: 5px;
}
.departarivee {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ececec;
    padding: 0.1vw 0vw;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 10vw;
    font-size: 3vw;
}
.depart, .arivee {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1vw;
    font-family: 'Urbanist', sans-serif;
}
.depart:before {
    width: 9px;
    height: 9px;
    content: "";
    border: 2px solid green;
    border-radius: 100%;
    margin: 0 0.5vw;
}
.arivee:after {
    width: 9px;
    height: 9px;
    content: "";
    border: 2px solid red;
    border-radius: 100%;
    margin: 0 0.5vw;
}
.doublefleche {
    font-family: "Material Icons Outlined";
    font-size: 5vw;
}
.endroit {
    display: flex;
    width: 50vw;
}
.endroit * {
    margin-right: 0.3vw;
    font-family: 'Urbanist', sans-serif;
}
.titre {
    font-size: 3vw;
    font-weight: 700;
    margin-top: 0.75vw;
    text-align: center;
    font-family: 'Wix Madefor Display', sans-serif;  
}
.texte {
    margin-top: 3vw;
    font-size: 2vw;
    padding-left: 2vw;
    padding-right: 6vw;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Urbanist', sans-serif;
    text-align: justify;
}
.download {
    display: flex;
    align-items: end;
    justify-content: end;
    padding-right: 1vw;
    font-family: "Material Icons";
    color: #007c74;
    font-size: 3vw;
    text-decoration: none;
}


.facile {
    color: #41e92b;
    display: flex;
    align-items: center;
}
.facile::after {
    display: inline-block;
    width: 6px;
    height: 6px;
    content: "";
    background-color: #41e92b;
    border: 3px solid #41e92b;
    border-radius: 100%;
    margin-left: 2%;
}
.moyen {
    color: #3498DB;
    display: flex;
    align-items: center;
    width: fit-content;
}
.moyen::after {
    display: inline-block;
    width: 6px;
    height: 6px;
    content: "";
    background-color: #3498DB;
    border: 3px solid #3498DB;
    border-radius: 100%;
    margin-left: 2%;
}
.difficile {
    color: red;
    display: flex;
    align-items: center;
}
.difficile::after {
    display: inline-block;
    width: 6px;
    height: 6px;
    content: "";
    background-color: red;
    border: 3px solid red;
    border-radius: 100%;
    margin-left: 2%;
}
.difficulte {
    padding: 0%;
    font-size: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20vw;
}

.innerfooter {
    width: 100%;
    margin-top: 2vw;
    height: 6vw;
    background-color: #007c74;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2vw;
    color: white;
    padding: 0 5vw;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Urbanist', sans-serif;
}
.precedant::before {
    font-family: "Material Icons Outlined";
    content: "arrow_back";
}

.suivant::after {
    font-family: "Material Icons Outlined";
    content: "arrow_forward";
}

.suivant:hover, .precedant:hover {
    cursor: pointer;
}

@media (max-width:600px) {
    main {
        width: 100vw;
    }
    .retour {
        margin-left: 5vw;
        height: fit-content;
        padding: 2vw 0;
        font-size: 3.5vw;
        line-height: 4vw;
        width: calc(100% - 5vw);
    }
    .leurovelo5 {
        font-size: 3vw;
    }
    .download {
        font-size: 8vw;
    }
    .head {
        font-size: 3vw;
    }
    .trajetcategory {
        font-size:4vw;
    }
    .kilo:after {
        font-size: 5vw;
    }
    .temps:after {
        font-size: 4vw;
    }
    .titre {
    font-size: 5vw;
    padding: 0 2vw;      
    }
    .texte {
        font-size: 3vw;
    }
    .innerfooter {
        height: fit-content;
        padding: 2vw 0;
        font-size: 4vw;
        padding: 0 2vw;
    }
}
.precedant{
    font-family: 'Urbanist', sans-serif;
}
.suivant{
    font-family: 'Urbanist', sans-serif;
}