@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800;900&display=swap%");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap%");

@font-face {
  font-family: "Frutiger_bold";
  src: url("font/Frutiger_bold.woff") format("woff");
}
@font-face {
  font-family: "Frutiger";
  src: url("font/Frutiger.woff") format("woff");
}
.logogauche {
  height: 80px;
  margin: 0 0 0 100%;
}
.instagram,
.facebook {
  height: 20px;
}
.hautfooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.réseauxsociaux {
  display: flex;
  justify-content: space-around;
  flex: 0.07;
  margin: 0 12% 0 0;
}

.qsnfooter {
  width: 40%;
  margin: 0 0 0 13%;
}

a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
}
.bouton_esp {
  background-color: white;
  margin-right: 1%;
  margin-left: 1%;
  border: none;
  padding: 0.8% 2.3%;
  border-radius: 5px;
  color: green;
}
.bouton_nouscontacter {
  background-color: #007c74;
  padding: 0.8% 4.5%;
  margin-left: 1%;
  border-radius: 5px;
  color: white;
}
.sp {
  color: green;
}
.ns {
  color: white;
}
.quisommesnous {
  display: flex;
  align-items: center;
}
.hauthautfooter {
  background-image: url(/footer/qui-sommes-nous.jpg);
  padding: 40px;
}

ul {
  list-style-type: none;
  margin-left: 0;
}

.uive,
.luv,
.vo,
.c,
.sggp {
  font-size: 16px;
}

.menufooter {
  display: flex;
  justify-content: space-around;
}
.menucolonne1 {
  margin-left: 11%;
}
.menucolonne3 {
  margin-right: 10%;
  margin-left: 0;
}
.fleche {
  margin-right: 13%;
  margin-top: 1%;
}
.fleche2 {
  margin-left: 60px;
}
li a {
  color: black;
}

span {
  font-weight: bold;
}
.marquevélofooter {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0%;
}

.logovert {
  width: 19%;
  margin-left: 50%;
}
.logov {
  font-size: 10px;
  margin-right: -4%;
  margin-left: 6%;
}
.textemarque {
  margin-right: 10%;
  width: 100%;
}

.bouton_m_esp {
  background-color: white;

  border-radius: 5px;
  margin-right: 8%;
  padding: 10px 30px;
  width: 28%;
}
.bouton_m_dav {
  background-color: black;
  color: white;
  border-color: black;
  border-radius: 5px;
  margin-right: 15%;
  padding: 5px 10px;
  width: 30%;
}
.bouton_m_ensavoirplus {
  color: black;
  border-color: black;
}

footer .couverture-menu-footer {
  position: relative;
  background: #231f20;
  padding-bottom: 10px;
}

footer .couverture-menu-footer nav {
  height: 60px;
  line-height: 60px;
}

footer .couverture-menu-footer nav ul {
  margin: 0;
  padding: 0;
}

footer .couverture-menu-footer nav ul li {
  display: inline-block;
  margin-right: 10px;
  margin: 0;
  margin-right: 0px;
  padding: 0;
  list-style: none;
  color: #fff;
  font-family: "Mukta Mahee", sans-serif;
  font-weight: 500;
  font-size: 0.8125rem;
}
.prs {
  margin: 5%;
}

footer .couverture-menu-footer .realisation {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translate(0, -50%);
}
#bloc-pieddepagegauche {
  justify-content: right;
  color: white;
}
#bloc-pieddepagegauche li a {
  color: white;
}

.simplon,
.frvelotourisme {
  width: 70px;
}
.frvelotourisme {
  margin-right: 10px;
}
.prs {
  margin-left: 160px;
}

.bouton_m_dav{
  padding-left: 60px;
}
a.bouton_m_dav {padding-left: 50px;}